{% extends 'master.html' %}

{% block title %}
    {{ product.name }}  
{% endblock%}


{% block content %}

<section class="product-detail">
    <div class="container">
        <div class="row" style="margin-top: 15px;">
            <div class="col-4">
                <img width="100%" src="/static/images/{{member.image}}" alt="{{ product.name }} Image">
            </div>
            <div class="col-8 ">
                <h2>{{ member.name }}</h2>
    
                <p>Description: {{ member.description }}</p>
                <p>Price: ₹ {{ member.price }}</p>
                <p>Stock: {{ member.stock_quantity }}</p>
            </div>
        </div>
    </div>

    
    
    
    <!-- Add more product details as needed -->
    
    
</section>

{% endblock %}