
<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position:relative;">
        
		<img  style="width: 250px; height: 80px;" src="{% static 'images/meta4.png' %}">
		<!-- <a class="navbar-brand" href="{% url 'product' %}"><h1><strong>METANOIA</strong></h1></a> -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto" >
			
			<li class="nav-item active">
			  <a class="nav-link" href="{% url 'product' %}">Home <span class="sr-only">(current)</span></a>
			</li>
			
            <li class="nav-item active">
				<a class="nav-link" href='/category/1/'>Fashion <span class="sr-only">(current)</span></a>
			</li>
            <li class="nav-item active">
				<a class="nav-link" href='/category/2/'>Grocery <span class="sr-only">(current)</span></a>
			</li>
            <li class="nav-item active">
				<a class="nav-link" href='/category/3/'>Appliances <span class="sr-only">(current)</span></a>
			</li>
            <li class="nav-item active">
				<a class="nav-link" href='/category/4/'>Electronics <span class="sr-only">(current)</span></a>
			</li>
            <li class="nav-item active">
				<a class="nav-link" href='/category/5/'>Toys <span class="sr-only">(current)</span></a>
			</li>
            <li class="nav-item active">
				<a class="nav-link" href='/category/6/'>Home Decore <span class="sr-only">(current)</span></a>
			</li>


		  </ul>
		  <div class="form-inline my-2 my-lg-0">
			
			<a href="{% url 'login' %}"class="btn btn-warning">Login</a>
			 
			<a href="{% url 'cart' %}">
			  <img  id="cart-icon" src="{% static 'images/trolly-icon.png' %}">
			</a>
			 <p id="cart-total">{{cartItems}}</p>
	
		</div>
		</div>
	  </nav>
</body>
</html>