{% extends 'master.html' %}

{% block title %}
    PRODUCTS
{% endblock%}

    {% block content %}
        <h1>ASSALAMUALIKUM</h1>
        <div class="container">
            
            <div class="row" >
        {% for x in mymembers%}
       
                <div class="col-3" style="float: left;" >
                
                    <img width="100%" height="75%" style="margin-top: 5px;" src="/static/images/{{x.image}}"><span></span>
                    <a href="product/{{x.id}}"> {{ x.id }}   {{ x.title }}   {{ x.brand }}</a>
                
                </div>
           
    {% endfor %}
</div>
            
</div>
{% endblock %}